<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OnYourWay Riders</title>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback}">
  <link rel="stylesheet" th:href="@{plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
  <link rel="stylesheet" th:href="@{plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
  <link rel="stylesheet" th:href="@{plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{plugins/jqvmap/jqvmap.min.css}">
  <link rel="stylesheet" th:href="@{css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{plugins/daterangepicker/daterangepicker.css}">
  <link rel="stylesheet" th:href="@{plugins/summernote/summernote-bs4.min.css}">


</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">


  <!-- Navbar -->
  <!-- <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" role="button" href="index.html"><i class="fas fa-door-open"></i></a>
      </li>
    </ul>
  </nav> -->
  <!-- /.navbar -->


  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index" class="brand-link">
      <!--<img src="../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
      <span class="brand-text">OnYourWay</span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
     


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="index" class="nav-link">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="riders" class="nav-link">
              <i class="nav-icon fas fa-motorcycle"></i>            
              <p>
                Riders 
              </p>
            </a>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Riders</h1>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        
        <!-- /.row -->
        <!-- Main row -->
      
      
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
      <div class="row">
        <div class="col-12">
          <div class="card" style="width: 90%; margin-left: auto; margin-right: auto;">
            <div class="card-header">
              <h3 class="card-title">Riders information</h3>
              
              <div class="card-tools">
                <form th:action="@{/riders}" method="get">
                <div class="input-group input-group-sm" style="width: 150px;">


                  <input type="text" th:name="keyword" th:value="${keyword}" class="form-control float-right" placeholder="Search">
                  
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </form>
                  </div>
                </div>
              </div>
            </div>


            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Review</th>


                  </tr>
                </thead>
                <tbody>
                  <th:block th:each="rider : ${listRiders}"> 
              <tr>
                <td> [[${rider.id}]]</td>
                <td> [[${rider.name}]]</td>
                <td> [[${rider.username}]]</td>
                <td> [[${rider.status}]]</td>
                <td> [[${rider.address}]]</td>
                <td> [[${rider.num_reviews}]]</td>
                             <td>
                            <a id="moreInfo" th:href="@{/rider/{id}(id=${rider.id})}">
                        <i class="fa fa-plus" style="font-size:20px"></i>
                    </a>
              </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- jQuery -->
<script th:src="@{plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script th:src="@{plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{plugins/chart.js/Chart.min.js}"></script>
<script th:src="@{plugins/sparklines/sparkline.js}"></script>
<script th:src="@{plugins/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
<script th:src="@{plugins/jquery-knob/jquery.knob.min.js}"></script>
<script th:src="@{plugins/moment/moment.min.js}"></script>
<script th:src="@{plugins/daterangepicker/daterangepicker.js}"></script>
<script th:src="@{plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<script th:src="@{plugins/summernote/summernote-bs4.min.js}"></script>
<script th:src="@{plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<script th:src="@{js/adminlte.js}"></script>
<script th:src="@{https://code.iconify.design/2/2.2.1/iconify.min.js}"></script>


</body>
</html>